{% extends "base.html" %}

{% block headextra %}
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript" src="/mills.js"> </script>

 	<script>
 	
 	
 	function geo_error() {
  		
	}
 	
 	
 	function geo_success(p) {
 		$('#lat').val(p.coords.latitude);
 		$('#lon').val(p.coords.longitude);
 		
	}
 	
 	
 	$(function(){
 		
 	
 	
 	if (geo_position_js.init()) {
  		geo_position_js.getCurrentPosition(geo_success, geo_error);
		}
 	})
 	
 	</script>

{% endblock %}

{% block initjs %}
<script type="text/javascript"> 
  function initialize() {
    var latlng = new google.maps.LatLng(38.968778,-77.293148);
    
var eightteensixtyOptions = {
  getTileUrl: function(coord, zoom) {
    return "/1860/tiles-1860/" + zoom +"/" + coord.x+"/"+coord.y+ ".png";
  },
  tileSize: new google.maps.Size(256, 256),
  isPng: true,
  maxZoom:14,
  minZoom:10,
  name:"What",
  
};
 
var eightteensixtyMapType = new google.maps.ImageMapType(eightteensixtyOptions);
 
    
    
    var myOptions = {
      zoom: 10,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControlOptions: {
       mapTypeIds: [google.maps.MapTypeId.ROADMAP,eightteensixtyMapType]
    }
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
        

// map.mapTypes.set("sixty", eightteensixtyMapType);
//map.setMapTypeId("sixty");

   
//   map.overlayMapTypes.insertAt(0, eightteensixtyMapType);
        
        
        
        
        
        
        
        
    var infowindow = new google.maps.InfoWindow()
	for (x in markers){
    	var m= markers[x];
    	m.setMap(map);
 
     	google.maps.event.addListener(m, 'click', function() {
     		var marker=m
     		infowindow.setContent('<a href="'+this.permalink+'">'+ this.title+ '</a>');
     		infowindow.setPosition(this.position);
     		infowindow.open(map);
     		
    		
  		});
    	
    	
    }
  }
 
</script> 
{% endblock %}

{% block content %}
<table>
<tr>
  <td><div id="map_canvas" style="height: 500px; width:600px;"></div></td>
  <td VALIGN=TOP id="intro">
  <h2> Explore the mills database: </h2>
  <ul>
  {% for mill in mills %}
  <li><a href="{{url_for('mills/single', mill_no=mill.mill_no,slug=mill.slug ) }}">{{mill.name}}</a></li>
  {% endfor %}
  </ul>
  </td>
  
  </tr>
  </table>
  
  <div id="photos">

<h2>Recent Photo's</h2>
<ul>
{% for photo in photos %}
<li><a href="{{url_for('mills/single', slug=photo.mill.slug, mill_no=photo.mill.mill_no)}}"><img src="{{ photo.thumb() }}"/></a>
<br>{{photo.mill.name}}
</li>
</div>
{% else %}
No photos have been submitted or approved yet.
{% endfor %}</ul>

</div>
  
  
  
  <script src="/static/geo.js"></script>
{% endblock %}
